* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  justify-content: start;
  /* gap: 8px; */
}

.square {
  background-color: #ccc;
}

.hovered-square {
  background-color: black;
}
