@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #3E6D9C;
}

aside {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
  align-items: center;
}

aside h1 {
  margin: 0;
  font-size: 48px;
  color: white;
}

#settings {
  border: none;
  font-size: 18px;
  padding: 16px 18px;
  cursor: pointer;
  background-color: #E14D2A;
  color: white;
}

#settings:hover {
  background-color: #FD841F;
}

.grid-container {
  box-sizing: content-box;
  display: grid;
  width: 512px;
  height: 512px;
  border: 4px solid #001253;
}

.square {
  background-color: #fff;
}

.hovered-square {
  background-color: black;
}
